$bg-dark: #333;
$white: #ffffff;
$shadow-heavy: 0 12px 50px rgba(0, 0, 0, 0.7);

.bookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: $bg-dark;
    padding: 10px;
    overflow: hidden;
   

    .flipbookWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease;
        margin-top: -5rem;
        
     
        transform: scale(0.72);
        transform-origin: center center;

        @media (max-width: 1000px) {
            transform: scale(0.5); 
        }
        @media (max-width: 768px) {
            transform: scale(0.4); 
        }
        @media (max-width: 480px) {
            transform: scale(0.3); 
        }
    }

    h2 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 12rem 0 -2rem;
    font-family: sans-serif;
    font-size: 3.5rem;
    }

    p {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 5rem;
        max-width: 800px;

    }

    .contactButton {
        background: #902326;
    color: #f8f9fa;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.1rem;
    border: 1px solid #e9ecef;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    }

    .contactButton:hover {
      background: #f8f9fa;
      color: #902326;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(144, 35, 38, 0.2);
    }

    a {
        text-decoration: none;
    }
}

.pdfFlipbook {
    box-shadow: $shadow-heavy;
    background-color: $white;
}

.pageWrapper {
    background-color: $white;
    overflow: hidden;
    outline: none;


}

.loading {
    color: $white;
    font-family: sans-serif;
}

:global(.react-pdf__Page__canvas) {
    display: block;
    max-width: 100% !important;
    height: auto !important;
}