.blogPostContainer {
  max-width: 800px;
  margin: 8rem auto;
  padding: 40px 20px;
  font-family: sans-serif; 
  color: #333;
  

  .articleHeader {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;

    .metaData {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 15px;

      .categorieTag {
        background: #902326;
        color: #fff;
        padding: 4px 10px;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 3px;
        text-transform: uppercase;
      }

      .articleDate {
        font-size: 0.9rem;
        color: #888;
      }
    }

    .mainTitle {
      z-index: 10;
    color: #ffffff;
    font-size: 3.5rem; 
    max-width: 40%;  
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.1;
    }
  }

  .featuredImageWrapper {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;

    .featuredImage {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }

  .articleContent {
    .paragraphs {
      font-size: 1.15rem;
      line-height: 1.8;
      white-space: pre-wrap;
      color: #707070;
    }

    h1, h2 {
      color: white;
    }

    a {
      color: white;
      text-decoration: none;
    }

    
  }

  .articleFooter {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    font-style: italic;
    color: #666;
    text-align: center;
  }
}