.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/alpes.jpg);
    background-size: cover;
    background-position: center;
    
   
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 54px;
        padding : 6rem 0;
       

        .card {
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           height: 400px;
           width: 300px;
           border: 1px solid white;
           padding: 15px 15px;
           border-radius: 15px;
           backdrop-filter: blur(6px);
           background-color: rgba(107, 107, 107, 0.103);

           h3{
            position: relative;
            top: -3rem;
            color: #ffffff;
            }

            span, p {
                color: white;
                text-align: center;
            }

            p{
                font-size: 1.1rem;
                margin-top: 25px;
                line-height: 1.7;

            }

            span {
                 font-size: 1.2rem;
            }

            

            }
        
    }
}

@media (max-width : 990px) {
    .container {
        .wrapper {
            flex-direction: column;
        }
    }
   
}