.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 3rem 1rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .column {
    text-align: left;

    h2 {
      font-size: 1.2rem; // Légèrement réduit pour l'élégance
      margin-bottom: 1.5rem;
      border-bottom: 2px solid #333;
      padding-bottom: 0.5rem;
      color: #b82f29;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 0.8rem;

        a, .infoText {
          color: #e4e4e4;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: #b82f29;
          }
        }
      }
    }
  }

  // --- GESTION DU LOGO ---
  .divLogo {
    display: flex;
    justify-content: flex-end; // Aligne à gauche par défaut
    height: 0; // Évite que le logo ne pousse le contenu vers le bas
    padding-right: 12%;
  }

  .logo img {
    height: 140px;
    width: auto;
    transform: translateY(-8rem); 
 
    
  }

  

  .bottomBar {
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid #333;
    text-align: center;

    .socials {
      display: flex;
      justify-content: center;
      gap: 15px;
      font-size: 2rem;

      i:hover {
        color: #b82f29;
        cursor: pointer;
        transition: 0.5s ease;
      }
    }
  }


  @media (max-width: 767px) {
    padding-top: 5rem; 

    .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 1rem;
    }

    .divLogo {
      justify-content: center;
      padding-left: 55%;
    }

    .logo img {
      height: 100px; 
      transform: translateY(-20rem);
    }

    .column {
      text-align: center;
      h2 {
        display: inline-block;
        width: auto;
      }
    }
  }
}