.wrapper {
max-width: 350px;
  height: auto;
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4); 
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3); 
  font-family: 'Segoe UI', Roboto, sans-serif;
  margin: 12rem 70px 0rem auto;
  background: rgba(0, 0, 0, 0.027); 
  backdrop-filter: blur(25px); 
  -webkit-backdrop-filter: blur(25px); 
  color: #ffffff;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.6s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.6);
  }

  h2 {
    text-align: center;
    color: white;
  }
  
}

.wrapper:hover {
    background: rgba(252, 252, 252, 0.166);
    .hours p {
       color: #e4e9ea;
    }
}
.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #5d6364;
  font-size: 1.5rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f1f2f6;
  
}

.group:last-child {
  border-bottom: none;
}


.day {
  font-weight: 700;
  color: #ffffff; 
  width: 100px;
}

.hours {
  text-align: left;
}

.hours p {
  margin: 0;
  font-size: 0.9rem;
  color: #ffffff;
  line-height: 1.4;
}


@media (max-width: 400px) {
  .group {
    flex-direction: column;
    align-items: flex-start;
  }
  .hours {
    text-align: left;
    margin-top: 5px;
  }
}