.wrapper {
 background: rgba(0, 0, 0, 0.132);
  backdrop-filter: blur(1px);  
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Roboto, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.471);
  

  width: 350px;
  margin-top: 20px; 
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #f0f6f8;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 8px;

  i {
    color: #0984e3; 
  }
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;

  &:last-child {
    border-bottom: none;
  }

   p:first-child {
    font-weight: 600;
    color: #f6fdff;
    margin: 0;
  }

  p:last-child {
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold;
    color: #fbfeff;
    margin: 0;
  }
}