.wrapper {
    height: 265px;
    width: 650px;
    border-radius: 15px;
    position: relative;
    top: -2rem;
    z-index: 999;
    border: 2px solid white;
    box-shadow: 1px 1px 2px black;
    
   

}