.wrapper {

    height: 275px;
    width: 650px;
    border-radius: 15px;
    position: relative;
    top: -2rem;
    left: 2rem;
    z-index: 999;
    border: 2px solid white;
    box-shadow: 1px 1px 2px black;
    gap: 10px;
    

    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;


    @media (max-width: 768px) {
  
        left: 0 !important;
        top: 0 !important;
        margin: 0 auto !important;
        width: 95% !important;
        height: auto !important;
        min-height: 263px; 
        position: relative !important; 
    }
}