.container {
      background-color: #1a1a1a;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
         color:#f6c72ef6;
    font-size: 3.5rem; 
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    line-height: 1.1;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .downloadButton {
        background: #902326;
      color: #f8f9fa;
      padding: 0.8rem 2rem;
      border-radius: 50px;
      font-weight: 700;
      font-size: 1.1rem;
      border: 1px solid #e9ecef;
      transition: all 0.3s ease;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      animation: appearanceEffect 1s ease-in both; 
      margin-top: 2rem;

      &:hover {
        background: #f8f9fa;
        color: #902326;
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(144, 35, 38, 0.2);
      }
      }
      }

      
}